.container {
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #ffffff;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px 0;
  text-align: center;
}
.followLink {
  width: fit-content;
  padding: 20px;
  margin: 64px 0;
  text-align: center;
  border: 1px solid #fff;
}
