.container {
  padding: 80px 32px 80px;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 40px 16px 40px;
  }
}
.title {
  opacity: 0;
  display: block;
  text-align: center;
}
.mainTitle {
  text-align: center;
  font-size: 40px;
  font-family: serif;
}
.ruby {
  display: block;
}
.contents {
  margin: 64px 0px;
}
@media screen and (max-width: 768px) {
  .contents {
    margin: 32px 0px;
  }
}
