.container {
  display: flex;
  padding: 12px 32px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 50%);
}
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
.topLogo {
  height: 35px;
}
